body{
  font-family: "Lato", sans-serif;
  background-color: #ecf0f1;
}
.flex{
  display: flex;
}
.flex-jsb{
  display: flex;
  justify-content: space-between;
}
.mt-30{
  margin-top: 30px;
}
.pd-20{
  padding: 20px;
}
.card-bg-1{
  background: #f1c40f;
}
.card-bg-2{
  background: #1abc9c  
}
.card-bg-3{
  background: #3498db
}
.card-bg-4{
  background: #2ecc71
}
.navbar{
  display: none;
}
.main-header{
  background-color: #9b59b6;
  color: #fff;
  width:100%;
  gap:50px;
  box-shadow: 0px 2px 5px #666;
  -moz-box-shadow: 0px 2px 5px #666;
  -webkit-box-shadow: 0px 2px 5px #666;
  -o-box-shadow: 0px 2px 5px #666;
}

.main-header .brand{
color: #fff;
text-decoration: none;
font-size: 1rem;
font-weight: 800;

padding: 15px;
}
.main-header ul{
  display: flex;
  justify-content: center;
  gap:15px;
}
.main-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.main-header nav a{
  color:#fff;
  text-decoration: none;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  font-weight: 600;
  padding: 14px;
}
.main-header nav a:hover,.main-header nav a.active{
  background: #8e44ad;
}
.main-header nav{
transition: all ease 0.5s;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
}
.cart-component{
  display: flex;
  justify-content: space-between;
  gap:15px;
}

.card{
  width:33%;
  min-height: 250px;
  background: #fff;
  color: #fff;
   border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 2px 5px #666;
  -moz-box-shadow: 0px 2px 5px #666;
  -webkit-box-shadow: 0px 2px 5px #666;
  -o-box-shadow: 0px 2px 5px #666;
}

.card header{
  color: #fff;
  padding: 15px 10px;
  font-size: 1.15rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.canvas-size div:first-child{
  height: 250px !important;
}
.table-component{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #666;
}
.table-component header{
  border-bottom: 1px solid #ccc;
  width:calc(100% - 40px);
  padding: 20px;
}
.table-component section{
  width: calc(100% - 40px);
  overflow: scroll;
  padding: 20px;
}
.table-component table{
  width:100%;
  
}
.table-component th{
  cursor: pointer;
}
.table-component thead{
  border-bottom: 6px solid #ecf0f1;
}
.table-component tbody tr{
  border-bottom: 2px solid #ecf0f1;
}
.table-component h3{
  font-size: 1.2rem;
}

.table-component th, .table-component td{
   
  padding:10px;
  background: #fff;
  margin-bottom: 10px;
}
.canvas-size{
  overflow: hidden;
}
.mobile-nav{
  display: none;
}
@media screen and (max-width:767px){
  .cart-component{
    flex-direction: column;
  }
  .card{
    width:100%;
  }
  .table-component{
    overflow: scroll;
  }
  .navbar{
    display: inline-block;
    color: #fff;
  }
  .navbar-main{
    flex-basis: 100%;
  }
  .main-header nav.active{
    display: block;
  }
  .nav-hidden,.hidden{
    display: none;
  }
  .nav-active{
    display: block;
  }
  .navbar-main a{
    width:100%;
    display: block;
    background: #34495e;
  }
  .brand{
    flex-basis: 80%;
  }
  .main-header nav a:hover,.main-header nav a.active{
    background: #533ecf;
  }
  .main-header{
    display: inherit;
  }
  .mobile-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
  .mobile-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    align-items: center;
  }
}

@media screen and (min-width:768px) and (max-width:900px){
  .table-component{
    overflow: scroll;
  }
}